<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>lklg</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>lklg.icns</string>
			<key>CFBundleTypeName</key>
			<string>Leaklog Database</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Leaklog</string>
	<key>CFBundleGetInfoString</key>
	<string>Leaklog is a leakage control system based on Regulation (EC) No 842/2006.</string>
	<key>CFBundleIconFile</key>
	<string>leaklog.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.szchkt.Leaklog</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>LKLG</string>
	<key>CFBundleVersion</key>
	<string>2.0.5</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.5</string>
	<key>NSHumanReadableCopyright</key>
	<string>© 2008 – 2019 SZ CHKT</string>
	<key>CFBundleName</key>
	<string>Leaklog</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.10</string>
	<key>NSRequiresAquaSystemAppearance</key>
	<true/>
</dict>
</plist>
