body {
	margin: 2px;
}
body,td,th {
	color: #000000;
}
td {
	padding: 2px;
}
::selection {
	background-color: yellow;
}
@media screen {
	table.highlight > tbody > tr:hover:not(.selected):not(.no_highlight) > td {
		background-color: rgb(242, 248, 255) !important;
		color: #000000;
	}
	table.highlight > tbody > tr:hover:not(.selected):not(.no_highlight) > td > table > tbody > tr > td {
		background-color: rgb(242, 248, 255) !important;
		color: #000000;
	}
	tr.selected {
		background-color: rgb(180, 215, 255);
	}
	.print_only {
		display: none;
	}
}
th {
	background-color: #F3F3F3;
}
table {
	width: 100%;
}
table,td,th {
	border-collapse: collapse;
	border-style: solid;
	border-width: 1px;
	border-color: #A9A9A9;
}
.no_border {
	border-collapse: collapse;
	border-style: none;
}
tr.nominal > td {
	background-color: #FFFF33 !important;
	color: #000000 !important;
}
a:link {
	color: inherit;
	text-decoration: none;
}
a:visited {
	color: inherit;
	text-decoration: none;
}
a:hover {
	color: #660000;
	text-decoration: underline;
}
a:active {
	color: inherit;
	text-decoration: none;
}
warning {
	font-size: xx-small;
	color: #FFFFFF;
}
