th.aliceblue { background-color: aliceblue; }
td.aliceblue { background-color: aliceblue; }
th.antiquewhite { background-color: antiquewhite; }
td.antiquewhite { background-color: antiquewhite; }
th.aqua { background-color: aqua; }
td.aqua { background-color: aqua; }
th.aquamarine { background-color: aquamarine; }
td.aquamarine { background-color: aquamarine; }
th.azure { background-color: azure; }
td.azure { background-color: azure; }
th.beige { background-color: beige; }
td.beige { background-color: beige; }
th.bisque { background-color: bisque; }
td.bisque { background-color: bisque; }
th.black { background-color: black; }
td.black { background-color: black; }
th.blanchedalmond { background-color: blanchedalmond; }
td.blanchedalmond { background-color: blanchedalmond; }
th.blue { background-color: blue; }
td.blue { background-color: blue; }
th.blueviolet { background-color: blueviolet; }
td.blueviolet { background-color: blueviolet; }
th.brown { background-color: brown; }
td.brown { background-color: brown; }
th.burlywood { background-color: burlywood; }
td.burlywood { background-color: burlywood; }
th.cadetblue { background-color: cadetblue; }
td.cadetblue { background-color: cadetblue; }
th.chartreuse { background-color: chartreuse; }
td.chartreuse { background-color: chartreuse; }
th.chocolate { background-color: chocolate; }
td.chocolate { background-color: chocolate; }
th.coral { background-color: coral; }
td.coral { background-color: coral; }
th.cornflowerblue { background-color: cornflowerblue; }
td.cornflowerblue { background-color: cornflowerblue; }
th.cornsilk { background-color: cornsilk; }
td.cornsilk { background-color: cornsilk; }
th.crimson { background-color: crimson; }
td.crimson { background-color: crimson; }
th.cyan { background-color: cyan; }
td.cyan { background-color: cyan; }
th.darkblue { background-color: darkblue; }
td.darkblue { background-color: darkblue; }
th.darkcyan { background-color: darkcyan; }
td.darkcyan { background-color: darkcyan; }
th.darkgoldenrod { background-color: darkgoldenrod; }
td.darkgoldenrod { background-color: darkgoldenrod; }
th.darkgreen { background-color: darkgreen; }
td.darkgreen { background-color: darkgreen; }
th.darkgrey { background-color: darkgrey; }
td.darkgrey { background-color: darkgrey; }
th.darkkhaki { background-color: darkkhaki; }
td.darkkhaki { background-color: darkkhaki; }
th.darkmagenta { background-color: darkmagenta; }
td.darkmagenta { background-color: darkmagenta; }
th.darkolivegreen { background-color: darkolivegreen; }
td.darkolivegreen { background-color: darkolivegreen; }
th.darkorange { background-color: darkorange; }
td.darkorange { background-color: darkorange; }
th.darkorchid { background-color: darkorchid; }
td.darkorchid { background-color: darkorchid; }
th.darkred { background-color: darkred; }
td.darkred { background-color: darkred; }
th.darksalmon { background-color: darksalmon; }
td.darksalmon { background-color: darksalmon; }
th.darkseagreen { background-color: darkseagreen; }
td.darkseagreen { background-color: darkseagreen; }
th.darkslateblue { background-color: darkslateblue; }
td.darkslateblue { background-color: darkslateblue; }
th.darkslategrey { background-color: darkslategrey; }
td.darkslategrey { background-color: darkslategrey; }
th.darkturquoise { background-color: darkturquoise; }
td.darkturquoise { background-color: darkturquoise; }
th.darkviolet { background-color: darkviolet; }
td.darkviolet { background-color: darkviolet; }
th.deeppink { background-color: deeppink; }
td.deeppink { background-color: deeppink; }
th.deepskyblue { background-color: deepskyblue; }
td.deepskyblue { background-color: deepskyblue; }
th.dimgrey { background-color: dimgrey; }
td.dimgrey { background-color: dimgrey; }
th.dodgerblue { background-color: dodgerblue; }
td.dodgerblue { background-color: dodgerblue; }
th.firebrick { background-color: firebrick; }
td.firebrick { background-color: firebrick; }
th.floralwhite { background-color: floralwhite; }
td.floralwhite { background-color: floralwhite; }
th.forestgreen { background-color: forestgreen; }
td.forestgreen { background-color: forestgreen; }
th.fuchsia { background-color: fuchsia; }
td.fuchsia { background-color: fuchsia; }
th.gainsboro { background-color: gainsboro; }
td.gainsboro { background-color: gainsboro; }
th.ghostwhite { background-color: ghostwhite; }
td.ghostwhite { background-color: ghostwhite; }
th.gold { background-color: gold; }
td.gold { background-color: gold; }
th.goldenrod { background-color: goldenrod; }
td.goldenrod { background-color: goldenrod; }
th.grey { background-color: grey; }
td.grey { background-color: grey; }
th.green { background-color: green; }
td.green { background-color: green; }
th.greenyellow { background-color: greenyellow; }
td.greenyellow { background-color: greenyellow; }
th.honeydew { background-color: honeydew; }
td.honeydew { background-color: honeydew; }
th.hotpink { background-color: hotpink; }
td.hotpink { background-color: hotpink; }
th.indianred { background-color: indianred; }
td.indianred { background-color: indianred; }
th.indigo { background-color: indigo; }
td.indigo { background-color: indigo; }
th.ivory { background-color: ivory; }
td.ivory { background-color: ivory; }
th.khaki { background-color: khaki; }
td.khaki { background-color: khaki; }
th.lavender { background-color: lavender; }
td.lavender { background-color: lavender; }
th.lavenderblush { background-color: lavenderblush; }
td.lavenderblush { background-color: lavenderblush; }
th.lawngreen { background-color: lawngreen; }
td.lawngreen { background-color: lawngreen; }
th.lemonchiffon { background-color: lemonchiffon; }
td.lemonchiffon { background-color: lemonchiffon; }
th.lightblue { background-color: lightblue; }
td.lightblue { background-color: lightblue; }
th.lightcoral { background-color: lightcoral; }
td.lightcoral { background-color: lightcoral; }
th.lightcyan { background-color: lightcyan; }
td.lightcyan { background-color: lightcyan; }
th.lightgoldenrodyellow { background-color: lightgoldenrodyellow; }
td.lightgoldenrodyellow { background-color: lightgoldenrodyellow; }
th.lightgreen { background-color: lightgreen; }
td.lightgreen { background-color: lightgreen; }
th.lightgrey { background-color: lightgrey; }
td.lightgrey { background-color: lightgrey; }
th.lightpink { background-color: lightpink; }
td.lightpink { background-color: lightpink; }
th.lightsalmon { background-color: lightsalmon; }
td.lightsalmon { background-color: lightsalmon; }
th.lightseagreen { background-color: lightseagreen; }
td.lightseagreen { background-color: lightseagreen; }
th.lightskyblue { background-color: lightskyblue; }
td.lightskyblue { background-color: lightskyblue; }
th.lightslategrey { background-color: lightslategrey; }
td.lightslategrey { background-color: lightslategrey; }
th.lightsteelblue { background-color: lightsteelblue; }
td.lightsteelblue { background-color: lightsteelblue; }
th.lightyellow { background-color: lightyellow; }
td.lightyellow { background-color: lightyellow; }
th.lime { background-color: lime; }
td.lime { background-color: lime; }
th.limegreen { background-color: limegreen; }
td.limegreen { background-color: limegreen; }
th.linen { background-color: linen; }
td.linen { background-color: linen; }
th.magenta { background-color: magenta; }
td.magenta { background-color: magenta; }
th.maroon { background-color: maroon; }
td.maroon { background-color: maroon; }
th.mediumaquamarine { background-color: mediumaquamarine; }
td.mediumaquamarine { background-color: mediumaquamarine; }
th.mediumblue { background-color: mediumblue; }
td.mediumblue { background-color: mediumblue; }
th.mediumorchid { background-color: mediumorchid; }
td.mediumorchid { background-color: mediumorchid; }
th.mediumpurple { background-color: mediumpurple; }
td.mediumpurple { background-color: mediumpurple; }
th.mediumseagreen { background-color: mediumseagreen; }
td.mediumseagreen { background-color: mediumseagreen; }
th.mediumslateblue { background-color: mediumslateblue; }
td.mediumslateblue { background-color: mediumslateblue; }
th.mediumspringgreen { background-color: mediumspringgreen; }
td.mediumspringgreen { background-color: mediumspringgreen; }
th.mediumturquoise { background-color: mediumturquoise; }
td.mediumturquoise { background-color: mediumturquoise; }
th.mediumvioletred { background-color: mediumvioletred; }
td.mediumvioletred { background-color: mediumvioletred; }
th.midnightblue { background-color: midnightblue; }
td.midnightblue { background-color: midnightblue; }
th.mintcream { background-color: mintcream; }
td.mintcream { background-color: mintcream; }
th.mistyrose { background-color: mistyrose; }
td.mistyrose { background-color: mistyrose; }
th.moccasin { background-color: moccasin; }
td.moccasin { background-color: moccasin; }
th.navajowhite { background-color: navajowhite; }
td.navajowhite { background-color: navajowhite; }
th.navy { background-color: navy; }
td.navy { background-color: navy; }
th.oldlace { background-color: oldlace; }
td.oldlace { background-color: oldlace; }
th.olive { background-color: olive; }
td.olive { background-color: olive; }
th.olivedrab { background-color: olivedrab; }
td.olivedrab { background-color: olivedrab; }
th.orange { background-color: orange; }
td.orange { background-color: orange; }
th.orangered { background-color: orangered; }
td.orangered { background-color: orangered; }
th.orchid { background-color: orchid; }
td.orchid { background-color: orchid; }
th.palegoldenrod { background-color: palegoldenrod; }
td.palegoldenrod { background-color: palegoldenrod; }
th.palegreen { background-color: palegreen; }
td.palegreen { background-color: palegreen; }
th.paleturquoise { background-color: paleturquoise; }
td.paleturquoise { background-color: paleturquoise; }
th.palevioletred { background-color: palevioletred; }
td.palevioletred { background-color: palevioletred; }
th.papayawhip { background-color: papayawhip; }
td.papayawhip { background-color: papayawhip; }
th.peachpuff { background-color: peachpuff; }
td.peachpuff { background-color: peachpuff; }
th.peru { background-color: peru; }
td.peru { background-color: peru; }
th.pink { background-color: pink; }
td.pink { background-color: pink; }
th.plum { background-color: plum; }
td.plum { background-color: plum; }
th.powderblue { background-color: powderblue; }
td.powderblue { background-color: powderblue; }
th.purple { background-color: purple; }
td.purple { background-color: purple; }
th.red { background-color: red; }
td.red { background-color: red; }
th.rosybrown { background-color: rosybrown; }
td.rosybrown { background-color: rosybrown; }
th.royalblue { background-color: royalblue; }
td.royalblue { background-color: royalblue; }
th.saddlebrown { background-color: saddlebrown; }
td.saddlebrown { background-color: saddlebrown; }
th.salmon { background-color: salmon; }
td.salmon { background-color: salmon; }
th.sandybrown { background-color: sandybrown; }
td.sandybrown { background-color: sandybrown; }
th.seagreen { background-color: seagreen; }
td.seagreen { background-color: seagreen; }
th.seashell { background-color: seashell; }
td.seashell { background-color: seashell; }
th.sienna { background-color: sienna; }
td.sienna { background-color: sienna; }
th.silver { background-color: silver; }
td.silver { background-color: silver; }
th.skyblue { background-color: skyblue; }
td.skyblue { background-color: skyblue; }
th.slateblue { background-color: slateblue; }
td.slateblue { background-color: slateblue; }
th.slategrey { background-color: slategrey; }
td.slategrey { background-color: slategrey; }
th.snow { background-color: snow; }
td.snow { background-color: snow; }
th.springgreen { background-color: springgreen; }
td.springgreen { background-color: springgreen; }
th.steelblue { background-color: steelblue; }
td.steelblue { background-color: steelblue; }
th.tan { background-color: tan; }
td.tan { background-color: tan; }
th.teal { background-color: teal; }
td.teal { background-color: teal; }
th.thistle { background-color: thistle; }
td.thistle { background-color: thistle; }
th.tomato { background-color: tomato; }
td.tomato { background-color: tomato; }
th.turquoise { background-color: turquoise; }
td.turquoise { background-color: turquoise; }
th.violet { background-color: violet; }
td.violet { background-color: violet; }
th.wheat { background-color: wheat; }
td.wheat { background-color: wheat; }
th.white { background-color: white; }
td.white { background-color: white; }
th.whitesmoke { background-color: whitesmoke; }
td.whitesmoke { background-color: whitesmoke; }
th.yellow { background-color: yellow; }
td.yellow { background-color: yellow; }
th.yellowgreen { background-color: yellowgreen; }
td.yellowgreen { background-color: yellowgreen; }