th.aliceblue { background-color: aliceblue; color: black; }
td.aliceblue { background-color: aliceblue; color: black; }
th.antiquewhite { background-color: antiquewhite; color: black; }
td.antiquewhite { background-color: antiquewhite; color: black; }
th.aqua { background-color: aqua; color: black; }
td.aqua { background-color: aqua; color: black; }
th.aquamarine { background-color: aquamarine; color: black; }
td.aquamarine { background-color: aquamarine; color: black; }
th.azure { background-color: azure; color: black; }
td.azure { background-color: azure; color: black; }
th.beige { background-color: beige; color: black; }
td.beige { background-color: beige; color: black; }
th.bisque { background-color: bisque; color: black; }
td.bisque { background-color: bisque; color: black; }
th.black { background-color: black; color: white; }
td.black { background-color: black; color: white; }
th.blanchedalmond { background-color: blanchedalmond; color: black; }
td.blanchedalmond { background-color: blanchedalmond; color: black; }
th.blue { background-color: blue; color: white; }
td.blue { background-color: blue; color: white; }
th.blueviolet { background-color: blueviolet; color: white; }
td.blueviolet { background-color: blueviolet; color: white; }
th.brown { background-color: brown; color: white; }
td.brown { background-color: brown; color: white; }
th.burlywood { background-color: burlywood; color: black; }
td.burlywood { background-color: burlywood; color: black; }
th.cadetblue { background-color: cadetblue; color: white; }
td.cadetblue { background-color: cadetblue; color: white; }
th.chartreuse { background-color: chartreuse; color: white; }
td.chartreuse { background-color: chartreuse; color: white; }
th.chocolate { background-color: chocolate; color: white; }
td.chocolate { background-color: chocolate; color: white; }
th.coral { background-color: coral; color: white; }
td.coral { background-color: coral; color: white; }
th.cornflowerblue { background-color: cornflowerblue; color: white; }
td.cornflowerblue { background-color: cornflowerblue; color: white; }
th.cornsilk { background-color: cornsilk; color: black; }
td.cornsilk { background-color: cornsilk; color: black; }
th.crimson { background-color: crimson; color: white; }
td.crimson { background-color: crimson; color: white; }
th.cyan { background-color: cyan; color: black; }
td.cyan { background-color: cyan; color: black; }
th.darkblue { background-color: darkblue; color: white; }
td.darkblue { background-color: darkblue; color: white; }
th.darkcyan { background-color: darkcyan; color: white; }
td.darkcyan { background-color: darkcyan; color: white; }
th.darkgoldenrod { background-color: darkgoldenrod; color: white; }
td.darkgoldenrod { background-color: darkgoldenrod; color: white; }
th.darkgreen { background-color: darkgreen; color: white; }
td.darkgreen { background-color: darkgreen; color: white; }
th.darkgrey { background-color: darkgrey; color: black; }
td.darkgrey { background-color: darkgrey; color: black; }
th.darkkhaki { background-color: darkkhaki; color: white; }
td.darkkhaki { background-color: darkkhaki; color: white; }
th.darkmagenta { background-color: darkmagenta; color: white; }
td.darkmagenta { background-color: darkmagenta; color: white; }
th.darkolivegreen { background-color: darkolivegreen; color: white; }
td.darkolivegreen { background-color: darkolivegreen; color: white; }
th.darkorange { background-color: darkorange; color: white; }
td.darkorange { background-color: darkorange; color: white; }
th.darkorchid { background-color: darkorchid; color: white; }
td.darkorchid { background-color: darkorchid; color: white; }
th.darkred { background-color: darkred; color: white; }
td.darkred { background-color: darkred; color: white; }
th.darksalmon { background-color: darksalmon; color: black; }
td.darksalmon { background-color: darksalmon; color: black; }
th.darkseagreen { background-color: darkseagreen; color: white; }
td.darkseagreen { background-color: darkseagreen; color: white; }
th.darkslateblue { background-color: darkslateblue; color: white; }
td.darkslateblue { background-color: darkslateblue; color: white; }
th.darkslategrey { background-color: darkslategrey; color: white; }
td.darkslategrey { background-color: darkslategrey; color: white; }
th.darkturquoise { background-color: darkturquoise; color: white; }
td.darkturquoise { background-color: darkturquoise; color: white; }
th.darkviolet { background-color: darkviolet; color: white; }
td.darkviolet { background-color: darkviolet; color: white; }
th.deeppink { background-color: deeppink; color: white; }
td.deeppink { background-color: deeppink; color: white; }
th.deepskyblue { background-color: deepskyblue; color: white; }
td.deepskyblue { background-color: deepskyblue; color: white; }
th.dimgrey { background-color: dimgrey; color: white; }
td.dimgrey { background-color: dimgrey; color: white; }
th.dodgerblue { background-color: dodgerblue; color: white; }
td.dodgerblue { background-color: dodgerblue; color: white; }
th.firebrick { background-color: firebrick; color: white; }
td.firebrick { background-color: firebrick; color: white; }
th.floralwhite { background-color: floralwhite; color: black; }
td.floralwhite { background-color: floralwhite; color: black; }
th.forestgreen { background-color: forestgreen; color: white; }
td.forestgreen { background-color: forestgreen; color: white; }
th.fuchsia { background-color: fuchsia; color: white; }
td.fuchsia { background-color: fuchsia; color: white; }
th.gainsboro { background-color: gainsboro; color: black; }
td.gainsboro { background-color: gainsboro; color: black; }
th.ghostwhite { background-color: ghostwhite; color: black; }
td.ghostwhite { background-color: ghostwhite; color: black; }
th.gold { background-color: gold; color: white; }
td.gold { background-color: gold; color: white; }
th.goldenrod { background-color: goldenrod; color: white; }
td.goldenrod { background-color: goldenrod; color: white; }
th.grey { background-color: grey; color: white; }
td.grey { background-color: grey; color: white; }
th.green { background-color: green; color: white; }
td.green { background-color: green; color: white; }
th.greenyellow { background-color: greenyellow; color: white; }
td.greenyellow { background-color: greenyellow; color: white; }
th.honeydew { background-color: honeydew; color: black; }
td.honeydew { background-color: honeydew; color: black; }
th.hotpink { background-color: hotpink; color: black; }
td.hotpink { background-color: hotpink; color: black; }
th.indianred { background-color: indianred; color: white; }
td.indianred { background-color: indianred; color: white; }
th.indigo { background-color: indigo; color: white; }
td.indigo { background-color: indigo; color: white; }
th.ivory { background-color: ivory; color: black; }
td.ivory { background-color: ivory; color: black; }
th.khaki { background-color: khaki; color: black; }
td.khaki { background-color: khaki; color: black; }
th.lavender { background-color: lavender; color: black; }
td.lavender { background-color: lavender; color: black; }
th.lavenderblush { background-color: lavenderblush; color: black; }
td.lavenderblush { background-color: lavenderblush; color: black; }
th.lawngreen { background-color: lawngreen; color: white; }
td.lawngreen { background-color: lawngreen; color: white; }
th.lemonchiffon { background-color: lemonchiffon; color: black; }
td.lemonchiffon { background-color: lemonchiffon; color: black; }
th.lightblue { background-color: lightblue; color: black; }
td.lightblue { background-color: lightblue; color: black; }
th.lightcoral { background-color: lightcoral; color: white; }
td.lightcoral { background-color: lightcoral; color: white; }
th.lightcyan { background-color: lightcyan; color: black; }
td.lightcyan { background-color: lightcyan; color: black; }
th.lightgoldenrodyellow { background-color: lightgoldenrodyellow; color: black; }
td.lightgoldenrodyellow { background-color: lightgoldenrodyellow; color: black; }
th.lightgreen { background-color: lightgreen; color: black; }
td.lightgreen { background-color: lightgreen; color: black; }
th.lightgrey { background-color: lightgrey; color: black; }
td.lightgrey { background-color: lightgrey; color: black; }
th.lightpink { background-color: lightpink; color: black; }
td.lightpink { background-color: lightpink; color: black; }
th.lightsalmon { background-color: lightsalmon; color: black; }
td.lightsalmon { background-color: lightsalmon; color: black; }
th.lightseagreen { background-color: lightseagreen; color: white; }
td.lightseagreen { background-color: lightseagreen; color: white; }
th.lightskyblue { background-color: lightskyblue; color: black; }
td.lightskyblue { background-color: lightskyblue; color: black; }
th.lightslategrey { background-color: lightslategrey; color: white; }
td.lightslategrey { background-color: lightslategrey; color: white; }
th.lightsteelblue { background-color: lightsteelblue; color: black; }
td.lightsteelblue { background-color: lightsteelblue; color: black; }
th.lightyellow { background-color: lightyellow; color: black; }
td.lightyellow { background-color: lightyellow; color: black; }
th.lime { background-color: lime; color: white; }
td.lime { background-color: lime; color: white; }
th.limegreen { background-color: limegreen; color: white; }
td.limegreen { background-color: limegreen; color: white; }
th.linen { background-color: linen; color: black; }
td.linen { background-color: linen; color: black; }
th.magenta { background-color: magenta; color: white; }
td.magenta { background-color: magenta; color: white; }
th.maroon { background-color: maroon; color: white; }
td.maroon { background-color: maroon; color: white; }
th.mediumaquamarine { background-color: mediumaquamarine; color: white; }
td.mediumaquamarine { background-color: mediumaquamarine; color: white; }
th.mediumblue { background-color: mediumblue; color: white; }
td.mediumblue { background-color: mediumblue; color: white; }
th.mediumorchid { background-color: mediumorchid; color: white; }
td.mediumorchid { background-color: mediumorchid; color: white; }
th.mediumpurple { background-color: mediumpurple; color: white; }
td.mediumpurple { background-color: mediumpurple; color: white; }
th.mediumseagreen { background-color: mediumseagreen; color: white; }
td.mediumseagreen { background-color: mediumseagreen; color: white; }
th.mediumslateblue { background-color: mediumslateblue; color: white; }
td.mediumslateblue { background-color: mediumslateblue; color: white; }
th.mediumspringgreen { background-color: mediumspringgreen; color: white; }
td.mediumspringgreen { background-color: mediumspringgreen; color: white; }
th.mediumturquoise { background-color: mediumturquoise; color: white; }
td.mediumturquoise { background-color: mediumturquoise; color: white; }
th.mediumvioletred { background-color: mediumvioletred; color: white; }
td.mediumvioletred { background-color: mediumvioletred; color: white; }
th.midnightblue { background-color: midnightblue; color: white; }
td.midnightblue { background-color: midnightblue; color: white; }
th.mintcream { background-color: mintcream; color: black; }
td.mintcream { background-color: mintcream; color: black; }
th.mistyrose { background-color: mistyrose; color: black; }
td.mistyrose { background-color: mistyrose; color: black; }
th.moccasin { background-color: moccasin; color: black; }
td.moccasin { background-color: moccasin; color: black; }
th.navajowhite { background-color: navajowhite; color: black; }
td.navajowhite { background-color: navajowhite; color: black; }
th.navy { background-color: navy; color: white; }
td.navy { background-color: navy; color: white; }
th.oldlace { background-color: oldlace; color: black; }
td.oldlace { background-color: oldlace; color: black; }
th.olive { background-color: olive; color: white; }
td.olive { background-color: olive; color: white; }
th.olivedrab { background-color: olivedrab; color: white; }
td.olivedrab { background-color: olivedrab; color: white; }
th.orange { background-color: orange; color: white; }
td.orange { background-color: orange; color: white; }
th.orangered { background-color: orangered; color: white; }
td.orangered { background-color: orangered; color: white; }
th.orchid { background-color: orchid; color: black; }
td.orchid { background-color: orchid; color: black; }
th.palegoldenrod { background-color: palegoldenrod; color: black; }
td.palegoldenrod { background-color: palegoldenrod; color: black; }
th.palegreen { background-color: palegreen; color: black; }
td.palegreen { background-color: palegreen; color: black; }
th.paleturquoise { background-color: paleturquoise; color: black; }
td.paleturquoise { background-color: paleturquoise; color: black; }
th.palevioletred { background-color: palevioletred; color: white; }
td.palevioletred { background-color: palevioletred; color: white; }
th.papayawhip { background-color: papayawhip; color: black; }
td.papayawhip { background-color: papayawhip; color: black; }
th.peachpuff { background-color: peachpuff; color: black; }
td.peachpuff { background-color: peachpuff; color: black; }
th.peru { background-color: peru; color: white; }
td.peru { background-color: peru; color: white; }
th.pink { background-color: pink; color: black; }
td.pink { background-color: pink; color: black; }
th.plum { background-color: plum; color: black; }
td.plum { background-color: plum; color: black; }
th.powderblue { background-color: powderblue; color: black; }
td.powderblue { background-color: powderblue; color: black; }
th.purple { background-color: purple; color: white; }
td.purple { background-color: purple; color: white; }
th.red { background-color: red; color: white; }
td.red { background-color: red; color: white; }
th.rosybrown { background-color: rosybrown; color: white; }
td.rosybrown { background-color: rosybrown; color: white; }
th.royalblue { background-color: royalblue; color: white; }
td.royalblue { background-color: royalblue; color: white; }
th.saddlebrown { background-color: saddlebrown; color: white; }
td.saddlebrown { background-color: saddlebrown; color: white; }
th.salmon { background-color: salmon; color: white; }
td.salmon { background-color: salmon; color: white; }
th.sandybrown { background-color: sandybrown; color: black; }
td.sandybrown { background-color: sandybrown; color: black; }
th.seagreen { background-color: seagreen; color: white; }
td.seagreen { background-color: seagreen; color: white; }
th.seashell { background-color: seashell; color: black; }
td.seashell { background-color: seashell; color: black; }
th.sienna { background-color: sienna; color: white; }
td.sienna { background-color: sienna; color: white; }
th.silver { background-color: silver; color: black; }
td.silver { background-color: silver; color: black; }
th.skyblue { background-color: skyblue; color: black; }
td.skyblue { background-color: skyblue; color: black; }
th.slateblue { background-color: slateblue; color: white; }
td.slateblue { background-color: slateblue; color: white; }
th.slategrey { background-color: slategrey; color: white; }
td.slategrey { background-color: slategrey; color: white; }
th.snow { background-color: snow; color: black; }
td.snow { background-color: snow; color: black; }
th.springgreen { background-color: springgreen; color: white; }
td.springgreen { background-color: springgreen; color: white; }
th.steelblue { background-color: steelblue; color: white; }
td.steelblue { background-color: steelblue; color: white; }
th.tan { background-color: tan; color: black; }
td.tan { background-color: tan; color: black; }
th.teal { background-color: teal; color: white; }
td.teal { background-color: teal; color: white; }
th.thistle { background-color: thistle; color: black; }
td.thistle { background-color: thistle; color: black; }
th.tomato { background-color: tomato; color: white; }
td.tomato { background-color: tomato; color: white; }
th.turquoise { background-color: turquoise; color: white; }
td.turquoise { background-color: turquoise; color: white; }
th.violet { background-color: violet; color: black; }
td.violet { background-color: violet; color: black; }
th.wheat { background-color: wheat; color: black; }
td.wheat { background-color: wheat; color: black; }
th.white { background-color: white; color: black; }
td.white { background-color: white; color: black; }
th.whitesmoke { background-color: whitesmoke; color: black; }
td.whitesmoke { background-color: whitesmoke; color: black; }
th.yellow { background-color: yellow; color: black; }
td.yellow { background-color: yellow; color: black; }
th.yellowgreen { background-color: yellowgreen; color: white; }
td.yellowgreen { background-color: yellowgreen; color: white; }
